@import "tailwindcss";
@import "tailwindcss/utilities";

body {
    background-color: #0A1F44;
    color: #F8F9FA;

    /*color: white;*/
}
a, nav button{
    color: #A9B8C6;
    text-decoration: underline;
    font-size: large;
}

a:hover, nav button:hover {
    color: #74C69D;
    cursor: pointer;
}